@model JwhH5.Models.ToDoModel

@using Microsoft.AspNetCore.Identity
@using static JwhH5.Models.SQLqueries

@inject UserManager<IdentityUser> UserManager

<div class="row">
    <div class="col-md-4">
        <form asp-controller="ToDoController" asp-action="InsertData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="control-label"></label>
                <input asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="UserName" class="control-label"></label>*@
                <input asp-for="UserName" class="form-control" value="@User.Identity.Name" hidden />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

