@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Text1</h1>
    <h1 class="display-4">@Model.Text2</h1>
    <h5 class="display-4">@Model.Text3</h5>
    @*<h3 class="display-4">@Model</h3>*@

</div>
